/* ===================================== Basic CSS ================================== */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    list-style: none;

}
img {
    max-width: 100%;
}

a {
    text-decoration: none;
    outline: none;
    color: #444;
}

a:hover {
    color: #444;
}

ul {
    margin-bottom: 0;
    padding-left: 0;
}

a:hover,
a:focus,
input,
textarea {
    text-decoration: none;
    outline: none;
}
.center{
    text-align: center;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
.cp {
    cursor: pointer
}
html,body{
    height: 100%;
}
p {
    margin-bottom: 0px;
    width: 100%;
}
.no-padding {
    padding: 0px;
}
.no-margin-bottom{
  margin-bottom: 0px !important;
}

.no-margin {
    margin: 0px;

}
.hid{
    display: none;
}
.top-mar{
    margin-top: 15px;
}
.h-100{
    height: 100%;;
}
::placeholder {
    color: #747f8a !important;
    font-size: 13px;
    opacity: .5 !important;
}
.container-fluid{
    padding: 0px;
}
body{
    background-color:#f7f7ff !important;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: .9rem;
    color: #444444;
}
.btn-xs {
  padding  : .15rem .25rem;
  font-size  : .875rem;
  line-height  : .5;
  border-radius : .2rem;
	i{
		font-size: 16px;
	}
}

.table{
    .btn-xs {
        margin-right: 5px;
    }
}
.err{
    width: 100%;
    text-align: center;
    color: #d81b60;
}
/* ===================================== Admin Layout Style  ================================== */
.teft-part{
    width: 250px;
    float: left;
    background-color: #FFFFFF;
    height: 100%;
    z-index: 99;
    padding: 0px;
    @media screen and (max-width: 960px) {
        position: absolute;
        //margin-left: -250px;
        margin-top: 60px;
        height: calc(100% - 60px);
        display: none;
        
    }
}

.right-part{
    height: 100%;
    width: calc(100% - 250px);
    padding: 0px;
    @media screen and (max-width: 960px) {
        width: 100% !important;
    }
}
#sidebar.active {
   // margin-left: -250px;
   width: 70px;
   @media screen and (max-width: 960px) {
       width: 240px;
   }

}
#content.active{
   // width: 100%;
   width: calc(100% - 70px);
   @media screen and (max-width: 705px) {
        width: 100% !important;
   }
}
#content, #sidebar {

    transition: all 0.3s;
}
/* ===================================== Left Sidebar Style  ================================== */
#sidebar.active {
    @media screen and (max-width: 960px) {
        margin-left: 0px;
    }
    @media screen and (min-width: 961px) {
        .logo-part{
            img{
                margin-top: 1px;
            }
            span{
                display: none;
                @media screen and (max-width: 960px) {
                    display: block;
                }
            }
        }
        nav{
            ul{
                li{
                    border-bottom: 1px solid #CCC;
                    padding: 15px 2px;
                    padding-top: 17px;
                    .rit-ico{
                        font-size: 15px;
                        padding-top: 5px;
                        margin-right: 5px;
                    }
                    i{
                        font-size: 22px;
                    }
                    span{
                        display: none;



                    }
                    &:hover{
                        span{
                            display: block;
                            position: absolute;
                            background-color: #FFF;
                            @include shado-1();
                            width:230px;
                            margin-left: 68px;
                            padding: 10px;
                            margin-top: -34px;
                            .inner-nav{
                                margin-top: 10px;
                            }
                            &:hover{
                                .inner-nav{
                                    display: block;
                                    ul{
                                        margin-left: -10px;
                                        li{
                                            padding: 10px;
                                            i{
                                                font-size: 17px;
                                                padding-top: 5px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.teft-part{
    box-shadow: 0 2px 6px 0 rgba(218, 218, 253,  65%), 0 2px 6px 0 rgba(206, 206, 238, 54%)!important;
    .slimScrollDiv{
       overflow: none !important;
    }
    .logo-part{
        height: 60px;

        span{
            font-size: 21px;
        }
        img{
          padding: 3px;
            text-align: left;
            max-width: 200px;
        }
        padding: 4px 10px;
        padding-top:5px;
        text-align: left;
        border-bottom: 1px solid #E8E8E8;
    }
    nav{
        ul{
            margin-bottom: 50px;

            li{
                padding: 10px 0px;
                font-weight: 500;
                font-size: .9rem;
                cursor: pointer;
                color: #5f5f5f;
                position: relative;
                span{
                   
                    padding-top: 2px;
                }
                a{
                    color: #5f5f5f; 
                }
                i{
                    margin-right: 12px;
                    margin-left: 20px;
                    color: #5B5B5B;
                    font-size: 1.2rem;

                }
                .bx{
                    font-size: 20px;
                    margin-left: 10px;
                }
                .rit-ico{
                    float: right;
                    margin-right: 12px;
                    font-size: 15px;
                    padding-top: 5px;
                }
                .aro{
                    float: right;
                    padding-top: 3px;
                }
            }
            .act{
                 color: #008cff;
                    text-decoration: none;
                    background: rgba(13, 110, 253,  .12);
                    a{
                         color: #008cff;
                    }
                    i{
                        color: #008cff;
                    }
            }
            
            .bottom-line{
                border-bottom: 1px solid #cccccc6e;
            }
            .inner-nav{
                background-color: #F9F9F9;
                transition: all 0.3s;
               
                padding-top: 5px;
                ul{

                    li{
                        
                        padding:  10px;
                        font-size: .9rem;
                        i{
                            font-size: .85rem;
                        }
                    }
                    
                }
                .innmwnu{
                    margin-bottom: 0px;
                }

            }
        }
    }
}
.float-auto{
  float: none;
  margin: 0 auto;
}
.vbkmn{
    padding-top: 10px;
}

/* ===================================== Header Style  ================================== */

.right-header{
    background-color: #fff;
    height: 60px;

    @media screen and (max-width: 960px) {
        position: absolute;
        width: 100%;
        z-index: 999;
    }
    @media screen and (max-width: 960px) {
        .search-bar{
            display: none;
        }
    }
    border-bottom: 1px solid rgba(228, 228, 228,  0%);
    box-shadow: 0 2px 6px 0 rgba(218, 218, 253, 65%), 0 0px 6px 0 rgba(206, 206, 238,  54%);
    .left-ul {

        margin-bottom: 0px;
        li{
            float: left;
            padding: 3px;
            @media screen and (max-width: 767px) {
                
            }
            @media screen and (max-width: 364px) {
                padding-left: 10px;
            }
            i{
                font-size: 18px;
                position: absolute;
               color:#444;
            }
        }
        .search-bar{
            margin-left: 10px;
            height: 30px;
            input {
                border: 1px solid #dadaf1;
                font-size: 15px;
                width: 330px;
                border-radius: 30px;
                height: 30px;
                padding: .375rem 2.0rem .375rem .75rem;
                background: #f7f7ff;
            }
            i {
                position: relative;
                top: -28px;
                left: 92%;
                color: #000;
                font-size: 14px;
            }
        }
    }
    .right-ul{
        float:right;
        margin-right: 20px;
        @media screen and (max-width: 364px) {
            margin-right: 10px;
            li{
                padding: 18px 15px !important;
            }
        }
        li{
            float: left;
            padding: 18px 25px;
            font-size: 20px;
            img{
                width: 40px;
                border-radius: 50px;
                margin-top: -7px;
            }
        }
        .dropdown-menu{
            @include shado-1();
            margin-top: 20px;
            border:0px;

        }
        .badge{
            font-size: 12px;
            position:absolute;
            top: 10px;
            margin-left: -10px;
        }
    }
}
.new-messages{
    padding: 0px;
    border-radius: 0px;
    width: 320px;
    .list-title{
        padding: 10px !important;
        font-size: 1rem !important;
        text-align: center;

        .badge{
            position: relative;
            border-radius: 2px;
            color: #fff;
            background-color: #fd3550;
            margin-top: -15px;
            @include card-1();
        }
    }
    .message-item{
        padding: 10px !important;
        h6{
           
            margin-bottom: 2px;
        }
        p{
            font-size: 13px;
            margin-bottom: -5px;
        }
        small{
            font-size: 12px;

        }
        img{
            margin-right: 1rem !important;
            margin-top: 2px !important;
            width: 60px !important;
            @include card-1();
            background-color: #FFF;
            padding: 2px;
            margin-left: 5px;
        }
    }
    .foter-message{
        text-align: center;
        padding: 10px !important;
        p{
            text-align: center;
            font-size: .9rem;
            
        }
    }
    .notification-item{
       i{
           font-size: 24px;
           margin-top: 5px;
           margin-left: 2px;
       }
        padding: 10px !important;
        h6{
            margin-bottom: 2px;
            
            font-size: 13px;
        }

        p{
            font-size:12px;
        }

    }

}

.user-details{
    padding: 0px;
    margin: 0px;
     ul{
         li{
            padding: 10px !important;
            float:none;
            border-bottom: 1px solid #E1E1E1;
            padding-left: 15px !important;
            font-size: .9rem !important;
            i{
                font-size: 18px !important;
                margin-top: 5px;
                margin-right: 5px;
            }
         }
     }

     .user-info{
       
        .media{
             display: flex;
             h6{
             margin-bottom: 0px;
             }
             p{
                 font-size: 13px;
                 margin-bottom: 5px;
             }
             img{
                width: 44px;
                border-radius: 50px;
                margin-top: 4px;
                margin-right: 11px;
            }
        }
         
     }
}

/* ===================================== Container Style  ================================== */

.content-container{
    padding: 20px 30px;
    @media screen and (max-width: 767px) {
        padding-top: 80px;
        padding-left: 12px;
        padding-right: 12px;
     }
    @media screen and (min-width: 961px) {
        height: calc(100% - 70px);
	    overflow: auto;
    }

	width: 100%;
     
}

.bg-primary-light {
    background: #d3e2f7;
}



.pagination{
    float: right;
}

.with-pagination{
    display: flow-root;
}

.clearbtn{
    background-color: #FFF;
    border: 0px;
    color: #444;
}

.form-control{
    font-size: .9rem !important;
}

.btn-xs {
    padding: .4rem .4rem;
    font-size: .8rem;
    line-height: .5;
    border-radius: .2rem;
    font-weight: 400;
    i{
        font-size: .75rem;
    }
}
