.overview{
    background-color: #FFF;
    margin-bottom: 30px;
    h2{
        font-size: 1rem;
        font-weight: 600;
        padding: 12px;
        margin-bottom: 0px;
    }
    .details{
        padding: 12px;
    }
}