.productcol{
    padding: 6px;
    .pimg{
        padding: 0px;
    }
    .pdet{
        margin: auto;
        h6{
            font-size: .95rem;
            margin-bottom: 0px;
        }
         b{
            font-size: .85rem;
        }
    }
}
.products{
    padding: 5px;
}

.morefont{
    font-size: .9rem;
}